mat-spinner {
	margin: 30vh auto;
}

mat-card {
	margin: 5vh auto;
	max-width: 80%;
}

mat-card-content {
	padding: 1vh 3%;
}

mat-card-content > div {
	display: flex;
	margin: 4vh auto;
}

mat-card-content > div:last-child {
	font-weight: bold;
}

mat-card-content > div > div {
	flex-basis: 33%;
}
